---
- name: Playbook
  hosts: webservers
  become: yes
  become_user: root
  tasks:
    - name: ensure apache is at the latest version
      yum:
        name: httpd
        state: latest
    - name: ensure apache is running
      service:
        name: httpd
        state: started
    - name: experimental module
      nekic:
        test: yes
        badIndentation: oh_no
    - name: add slack integration
      slack:
       badIndentation: bad
        badSpacing:yikes



